/*saTaurebi*/


.fortitles {
	width: 1089px;
	/*height: 130px;*/
	margin-left: auto;
	margin-right: auto;
}
.title11 {
	font-size: 14px;
	color: #5863f8;
}


.title_1 {
	font-family: "ALK Life", sans-serif;
	font-size: 42px;
	width: 421px;
	margin-top: 17px;
}
.title_13 {;
	font-family: "ALK Life", sans-serif;
	font-size: 42px;
	width: 421px;
	margin-top: 17px;}

/*left-right-box*/


.container1 {
	width: 330px;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	margin-left: 15px;
}

.title1 {	
color: #5863f8;
font-size: 14px;
width: 235px;
margin-top: 27px;
display: inline-block;
}

.title2 {
	font-size: 18px;
	width: 235px;
	display: inline-block;
	margin-top: 15px;
}


.box-left {
	width: 537px;
	height: 191px;
	background: #f8f8f8;
	display: inline-block;
	margin-right: 15px;
	margin-top: 60px;
}

.box-right {
	width: 537px;
	height: 191px;
	background: #be2b2b;
	display: inline-block;
}

.texte1 {
	font-family: 'Edu VIC WA NT Beginner', cursive;
	font-size: 14;
	color: #b1b1b1;
	width: 235px;
	height: 57px;
	display: inline-block;
	margin-top: 14px;
}


.block-image {
	width: 169px;
	vertical-align: middle;
}

.part1 {
	margin-top: 86px;
	margin-bottom: 131px;
	margin-left: auto;
	margin-right: auto;
}

/*blogi*/

.box1_1 {
	width: 353px;
	display: inline-block;
}

.box1_2 {
	width: 353px;
	display: inline-block;

	/*horisontal-align: middle;*/
}

/*.second-image: {
horisontal-align: middle;
}*/

.title1_1 {
	margin-left: 58px;
	text-align: center;
	color: #5863f8;
font-size: 14px;
width: 235px;
margin-top: 27px;
display: inline-block;

}

.title1_2 {
	margin-left: 58px;
	text-align: center;
	font-size: 18px;
	width: 235px;
	display: inline-block;
	margin-top: 15px;

}

.texte-box {
	font-family: 'Edu VIC WA NT Beginner';
	text-align: center;
	width: 235px;
	font-size: 14px;
	color: #b1b1b1;
	margin-top: 14px;
	margin-left: 58px;
}

/*.part2 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 163px;*/

}

.first-big-box {
	width: 1089px;
	margin-bottom: 163px;
	margin-left: auto;
	margin-right: auto;

}

.second-big-box {
	width: 1089px;
	margin-top: 72px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 163px;
}

